#logo{
	width: 100px;
	height: 100px;
}
#header{
    margin-top: 20px;
	margin-bottom: 20px;
}
#top-menu ul{
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #ececec;
	width: 100%
}


#content-wrapper{
    padding: 20px 0 20px 0;
}


#footer{
	background-color: #3c3d41;
    color: white;
    padding-top: 10px;
}

#footer .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#footer .row {
    margin-bottom: 10px;
}

#footer .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#footer .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#footer ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#footer h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#footer h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#footer a {
    color: #d2d1d1;
    text-decoration: none;
}

#footer a:hover,
#footer a:focus {
    text-decoration: none;
    color: white;
}

#footer .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#footer .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#footer .social-networks a:hover {
    text-decoration: none;
}

#footer .facebook:hover {
    color: #0077e2;
}

#footer .google:hover {
    color: #ef1a1a;
}

#footer .twitter:hover {
    color: #00aced;
}

#footer .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 768px) {
    #footer {
        text-align: center;
    }

    
}


@media print {
    address {
        margin: 0px;
    }
    @page { size: auto;  margin: 5mm; }
    #completion-certificate{
        width: 768px;
        float: left;
        font-size: 11px;
        font-style: normal;
        padding-left: 1px;
        padding-right: 2px;
    }
    #payment-certificate{
        width: 768px;
        float: left;
        font-size: 11px;
        font-style: normal;
        padding-left: 1px;
        padding-right: 2px;
    }
    .payment-certificate{
        width: 768px;
        float: left;
        font-size: 11px;
        font-style: normal;
        padding-left: 1px;
        padding-right: 2px;
    }
    #logo{
        width: 80px;
        height: 80px;
    }
    
    
    #completion-certificate-table tr > td{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #completion-certificate-table tr > th{
         padding-top: 2px;
        padding-bottom: 2px;
    }
    #payment-certificate-table tr > td{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #payment-certificate-table tr > th{
         padding-top: 2px;
        padding-bottom: 2px;
    }


    .payment-certificate-table tr > td{
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .payment-certificate-table tr > th{
         padding-top: 2px;
        padding-bottom: 2px;
        color: #000;
    }
    /*
    .certificate-top-left{
        width: 200px;
        float: left;
    }
    .certificate-top-right{
        width: 200px;
        float: left;
    }
    .certificate-top-middle{
        width: 368px;
        float: left;
    }
*/


   .certificate-top-middle h3{
        font-size: 14px;
   }
   .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
   }
   .col-md-12 {
        width: 100%;
   }
   .col-md-11 {
        width: 91.66666667%;
   }
   .col-md-10 {
        width: 83.33333333%;
   }
   .col-md-9 {
        width: 75%;
   }
   .col-md-8 {
        width: 66.66666667%;
   }
   .col-md-7 {
        width: 58.33333333%;
   }
   .col-md-6 {
        width: 50%;
   }
   .col-md-5 {
        width: 41.66666667%;
   }
   .col-md-4 {
        width: 33.33333333%;
   }
   .col-md-3 {
        width: 25%;
   }
   .col-md-2 {
        width: 16.66666667%;
   }
   .col-md-1 {
        width: 8.33333333%;
   }
}





.team-member img{
	height:150px;
	width:125px;
}

